* {
    box-sizing: border-box;
}

body {
    background-color: #111;
    text-align: center;
    color: #A3CEB4;
    font-family: arial;
}

video,audio,iframe {
    border: 2px solid #A3CEB4;
    border-radius: 5px;
}

canvas {
    background-color: #333;
    border-radius: 3px;
}

main {
    display: flex;
}

div {
    padding: 10px;
}

#left-col {
    flex: 20%;
}

#mid-col {
    flex: 40%;
}

#right-col {
    flex: 40%;
}

audio {
    width: 420;
}
